services:
  plex:
    image: plexinc/pms-docker:latest
    container_name: plex
    network_mode: host
    restart: unless-stopped
    environment:
      - TZ=Europe/Amsterdam
      - PLEX_CLAIM= # Get a claim token from plex.tv/claim if you want instant login
    volumes:
      - ./config:/config
      - /mnt/media:/data # Maps the NFS mount
