# Ignore .env files in ALL subdirectories (double star is important)
# --- Secrets ---
# Ignore .env files in all subdirectories
**/.env

# --- System ---
.DS_Store
Thumbs.db

# --- Pi-hole: Ignore databases and logs, KEEP configs ---
# Ignore heavy databases
**/*.db
**/*.db-shm
**/*.db-wal
**/*.db.1
**/*.pem

# Ignore logs and temporary files
**/dhcp.leases
**/logrotate
**/versions
**/listsCache/

# (Optional) Backup directories created by Pi-hole
**/migration_backup/
**/config_backups/
**/gravity_backups/

# Note: We do NOT ignore 'etc-pihole' and 'etc-dnsmasq.d' directories,
# ensuring .conf, .list and .toml files are tracked in Git.
docker/roon/data/

# --- Ansible ---
*.retry
*.log
*.swp
.ansible/

# --- SSH Keys (CRUCIAAL) ---
# Created them in ~/.ssh but just to be shure:
*.pem
*.key
*.pub
id_rsa
id_ed25519
ansible_ed25519
ansible_ed25519.pub

# --- Keycloak Specific ---
# Ignore generated config with passwords
# Source code is .j2 (preserve)
docker/keycloak/docker-compose.yml

# For future development: in case Java Keystores gonna be used for certificates
*.jks
*.keystore
*.truststore

# If I ever gonna use 'realm export' (backup users/settings):
# They can use secrets. Ignore json exports just to be sure.
realm-export.json
