[Unit]
Description=Roon Server Docker Service
Requires=docker.service
After=docker.service network-online.target
# Zéér belangrijk: Start pas als de NAS en Backup schijf er zijn!
RequiresMountsFor=/mnt/roon /mnt/backup

[Service]
Type=oneshot
RemainAfterExit=yes
User=eric
Group=eric
WorkingDirectory=/opt/docker-services/roon

ExecStart=/usr/bin/docker compose up -d --remove-orphans
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=multi-user.target
