---
- name: Ensure the system is fully updated
  dnf:
    name: "*"
    state: latest

- name: Install required dependencies for Foreman repositories
  dnf:
    name: 
      - dnf-plugins-core
#      - epel-release    # already in added in common role
    state: present

- name: Open required firewall ports for Foreman & Katello
  ansible.posix.firewalld:
    service: "{{ item }}"
    permanent: true
    state: enabled
    immediate: true
  loop:
    - http
    - https
    - dns
    - dhcp
    - dhcpv6
    - tftp
    - puppetmaster

- name: Open specific custom ports for Katello (Pulp/Capsule)
  ansible.posix.firewalld:
    port: "{{ item }}"
    permanent: true
    state: enabled
    immediate: true
  loop:
    - 8443/tcp
    - 9090/tcp
    - 5646/tcp
    - 5647/tcp

- name: Install Foreman and Katello release repos
  dnf:
    name:
      - https://yum.theforeman.org/releases/3.16/el9/x86_64/foreman-release.rpm
      - https://yum.theforeman.org/katello/4.18/katello/el9/x86_64/katello-repos-latest.rpm
    state: present
    disable_gpg_check: true

- name: Enable specific DNF modules for Foreman/Katello
  dnf:
    name: "@{{ item }}"
    state: present
  loop:
    - ruby:3.1
    - postgresql:15

- name: Install Puppet release repo
  dnf:
    name: https://yum.puppet.com/puppet8-release-el-9.noarch.rpm
    state: present
    disable_gpg_check: true

- name: Install Foreman Installer
  dnf:
    name: foreman-installer-katello
    state: present
